<!doctype html>
<html>
<head>
	<% include head_dash %>
</head>
<header>
	<% include header_add %>
</header>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        </div>
    </div>

    <div class="page-header text-center">
        <h1><span class="fa fa-plus"></span>Add a Course<span class="badge"></span></h1>
    </div>

    <!-- show any messages that come back with authentication -->
    

</div>
</body>
<footer>
    <% include footer_dash %>
</footer>
</html>