<!DOCTYPE html>
<html lang="en">
<head>
    <% include head.ejs %>
    <link rel="stylesheet" href="/css/index.css"></script>
    <script type="text/javascript" src="/js/index.js"></script>

</head>
<div id="scroll-animate">
  <div id="scroll-animate-main">
    <div class="wrapper-parallax">

    <header>
        <% include header_index.ejs %>
    </header>
    
			<div class="content container" style="width: auto;">
			    <div class="row">
			        <div class="col-sm-6 col-md-4 col-md-offset-4">
			            <div class="account-wall">
			                <div id="my-tab-content" class="tab-content">
			                        <img class="profile-img" src="http://upload.wikimedia.org/wikipedia/en/b/ba/New_VCU_Rams_Logo.png" alt=""/>
			                        <div class="tab-pane active" id="login">
			                    
			                            <form class="form-signin" action="/login" method="post">
			                            	<!--km-->
			                            	<% if (message.length > 0) { %>
        										<div class="alert alert-danger"><%= message %></div>
    										<% } %>
			                                <div class="input-group">
			                                    <input type="text" name="email" class="form-control" placeholder="Username ..." required autofocus>
			                                    <div class="input-group-addon">@vcu.edu</div>
			                                </div>
			                                <input type="password" name="password" class="form-control" placeholder="Password" required>
			                                <input type="submit" class="btn btn-lg btn-default btn-block" value="Sign In" />
			                            </form>

			                            <div id="tabs" data-tabs="tabs">
			                                <p class="text-center"><a href="#login" data-toggle="tab">Forgot Password?</a></p>
			                                <p class="text-center"><a href="#register" data-toggle="tab">Need an Account?</a></p>
			                            </div>

			                        </div>
			                        <div class="tab-pane" id="register">

			                        	<% if (message.length > 0) { %>
        									<div class="alert alert-danger"><%= message %></div>
    									<% } %>

			                            <form class="form-signin" action="/signup" method="post">
			                                <div class="input-group">
			                                    <input type="text" name="email" class="form-control" placeholder="Username ..." required autofocus>
			                                    <div class="input-group-addon">@vcu.edu</div>
			                                </div>
			                                <input type="password" name="password" class="form-control" placeholder="Password ..." style="margin-bottom: 0px;" required>
			                                <input type="submit" class="btn btn-lg btn-default btn-block" value="Sign Up" />
			                            </form>

			                            <div id="tabs" data-tabs="tabs">
			                                <p class="text-center"><a href="#login" data-toggle="tab">Have an Account?</a></p>
			                            </div>
			                        </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>

      <footer>
        <% include footer.ejs %>
      </footer>

    </div>
  </div>
</div>
</html>
